@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");

/*
place in center
*/
#root {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

h1 {
  font-family: "Roboto Condensed", sans-serif;
}

img {
  width: 60%;
  height: auto;
}

.form-control {
  font-family: "Roboto Condensed", sans-serif;
}

.btn {
  font-family: "Roboto Condensed", sans-serif;
}

footer {
  color: #7f7f7f;
  font-family: "Roboto Condensed", sans-serif;
  position: fixed;
  align-self: end;
}

p {
  margin-bottom: 1%;
}

.github-link {
  color: inherit;
}
